* {margin: 0;
   padding: 0;
box-sizing: border-box;}

body {
    color: white;
    font: 15px "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 33px;
    /* width: 1920px; */
}

.container {
    width: 940px;
    margin: 0 auto;
}

h1 {
    font: bold 43px "Open Sans";
    line-height: 65px;
}

/* Шапка */
.header {       
       width: 100%;
       min-width: 1024px;
       height: 900px;
      background: linear-gradient(123deg, #f9f9f9 37%, #41e0d8 37%);
        }
        
.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo {
        width: 65px;
        height: 82px;
        margin: 20px 0 0 33px;
    }
/* Навигация */
 .header_nav {
        margin-top: 60px;
    }
    .but_h {
        width: 145px;
        height: 47px;
        color: white;
        background-color: transparent;
        font: 12px "Open Sans";
        font-weight: 600;
        margin-left: 20px;
        border: none;
        text-transform: uppercase;
    }

    .but_h:hover {
        background-color: #000;
    }

    /* основная часть header */

    .phone {
        width: 313px;
        height: 553px;
        background-image: url(images/Screen.png);
        background-size: cover;
    }

    .header_cont {
        margin-top: 240px;
        display: flex;
        justify-content: space-between;

    }

    .text {
        width: 451px;
    }
    .paragr {
        margin-top: 73px;
        width: 350px;
    }

    .header_h {
        color: #3c3d41;;
    }
    .thouthand {
    color: white;
    font-weight: 600;
    font-style: italic;
}

    .goog-play {
    width: 165px;
    height: 57px;
    background-image: url(images/Play_Button.png);
    background-size: cover;
    border-radius: 14px;
    border-color: transparent;
    background-color: transparent;
    margin-top: 75px;
}

/* Компонент about */

.about {
    height: 860px;
    width: 100%;
    background-color: #262a34;
}

.about .container {
    display: flex;
    justify-content: space-between;
    padding-top: 230px;
    }

.carousel {
    display: flex;
    justify-content: space-between;
    width: 470px;
    height: 450px;

}

.pict {
    width: 225px;
    height: 405px;
    background-color: rgb(63,69,81);
    margin-left: 10px;
}

.about_butt {
    width: 138px;
    height: 46px;
    background-color: #41e0d8;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans";
    font-weight: 600;
    border: none;
    font-size: 12px;
    margin-top: 85px;
}

/* Компонент quote */

.quote {
    width: 100%;
    height: 900px;
    background-color: #41e0d8;
    padding-top: 215px;
}
.quote_h, .quote_parag{ 
    text-align: center;
}
.quote_parag {
    color: #262a34;
    margin-top: 15px;
}

.note_phone {
    width: 300px;
    height: 455px;
    background-image: url(images/Screen_1.png);
    background-size: cover;

}

.note_text {
    width: 589px;
    height: 232px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 100px;
    color: #41e0d8;
    padding-top: 30px;
    padding-left: 25px;
}

.quote_note {
    display: flex;
    justify-content: space-between;
    margin-top: 81px;
}

.paragr_note {
    color: #262a34;
    width: 463px;
    margin: 0 auto 10px auto;
}

.select_down, .select_up {
    font-size: 40px;
}
.select_down {
    text-align: right;
    margin-right: 50px;
}

.author_q {
    margin-top: -33px;
    margin-left: 59px;
}

.quote_triangle {
    position: absolute;
    width: 0;
    height: 30px;
    border-right: 15px solid white;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;

    margin-left: -40px;
    margin-top: 75px;

}

/* Компонент join */

.join {
    height: 440px;
    width: 100%;
    background-color: #262a34;
    padding-top: 75px;
}

.join_h, .join_paragr {
    text-align: center;
}

.join_paragr {
    margin-top: 25px;
}

.mail {
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    justify-content: center;
    
}

.y_mail {
    width: 465px;
    background-color: rgb(81,85,93);
    height: 50px;
    padding-top: auto;
    padding-left: 25px;
    border: none;
    margin-right: 18px;
    color: white;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    line-height: 33px;

}

.join_butt {
    width: 142px;
    height: 50px;
    background-color: #fff;
    font-size: 15px;
    line-height: 33px;
    color: #41e0d8;
    font-weight: 400;
    font-family: "Open Sans";
    text-transform: uppercase;
}

.footer {
    height: 295px;
    background-color: #fff;
    width: 100%;
    padding-top: 78px;
}
.logo_foot {
    margin: 0 auto;
    width: 65px;
    height: 82px;
}

.copyright {
    color: #262a34;
    text-align: center;
    margin-top: 10px;
}
.nord {
    color: #41e0d8;
    text-transform: uppercase;
    
}


